
// sets

.sets {
    .city-list__title {
        align-items: flex-start;
        .friends-params {
            margin-top: 8px;
        }
    }
    .city-list__more {
        margin-top: 5px;
    }
}