.moderatorsContainer {
  padding: 20px;
  background: white;
    width: 100%;
    height: 100vh;
}
.moderatorsList {
  margin-top: 20px;
}
.moderatorItem {
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
}
.moderatorItem h3 {
  margin: 0 0 10px 0;
  color: #333;
}
.moderatorItem p {
  margin: 5px 0;
  color: #666;
}
.submitButtonModer {
    background-color: green;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}
.passwordModer{
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
}
.inputModer{
      border: 1px solid #ccc !important;
    border-radius: 5px !important;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}