.contents {
  background: #fff;
  width: 100vw;
  height: 100vh;
  color: #333;
  overflow-y: auto;
}
.mainContent {
  background: #dcdcdc;
  border-radius: 5px;
  margin: 10px;
  padding: 14px;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardsList {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 16px 0;
  width: 100%;
}
.cardsList::-webkit-scrollbar {
  display: none;
}
.cardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 178px;
  height: 372px;
  overflow: hidden;
  text-align: center;
}
.cardItemImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardItemImg img {
  width: 99%;
  height: 284px;
  object-fit: cover;
  border-radius: 8px;
}
.cardInfo {
  background: #fff;
  border-radius: 8px;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  padding: 0 5px;
}
.searchContainer {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 10px 0;
  justify-content: center;
}
.searchInput {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px !important;
}
.addButton {
  background: green;
  border-radius: 5px;
  color: #fff;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 20px 0;
}
.addButton:hover {
  background: darkgreen;
}
.addCardButton {
  background: green;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}
.addCardButton:hover {
  background: darkgreen;
}
.inputContainer {
  margin-top: 20px;
}
.inputContainer input {
  width: 265px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px !important;
}
.save {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
}
.saveButton {
  background: green;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}
.saveButton:hover {
  background: darkgreen;
}
.cancelButton {
  background: red;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}
.cancelButton:hover {
  background: darkred;
}
