.contents {
  background: #fff;
  width: 100vw;
  height: 100vh;
  color: black;
  overflow-y: auto;
}
.mainContent {
  background: #dcdcdc;
  border-radius: 5px;
  margin: 10px;
  overflow-y: auto;
  padding: 14px 0 14px 14px;
  height: 97%;
}
.cardsList {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 16px;
  padding: 16px 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cardsList::-webkit-scrollbar {
  display: none;
}
.cardItem {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 372px;
  overflow: hidden;
  text-align: center;
  width: 178px;
}
.cardItemImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardItemImg img {
  height: 284px;
  object-fit: cover;
  width: 99%;
  border-radius: 8px;
}
.cardInfo {
  background: #fff;
  border-radius: 8px;
  flex-direction: column;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.searchContainer {
  align-items: center;
  display: flex;
  margin: -5px;
  width: 60%;
}
.searchInput {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 10px !important;
  font-size: 14px;
  margin-bottom: 10px;
}
.addButton {
  align-items: center;
  background: green;
  border-radius: 5px;
  color: #fff;
  display: flex;
  height: 45px;
  justify-content: center;
  width: 200px;
}
.addButton:hover {
  background: darkgreen;
}
.cardButton {
  align-items: center;
  background: green;
  border-radius: 5px;
  color: #fff;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
