@media (max-width: 529px) {
  .nav-image {
    width: 20px !important;
  }

  .slide {
    width: 160px !important;
    height: 280px !important;
  }

  .card-image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }
}
