.mainCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  position: relative;
  height: 360px;
  padding: 0 20px;
}
.slideC {
  position: relative;
  width: 178px; /* Уменьшил с 200px */
  height: 320px; /* Уменьшил с 360px */
  transform-style: preserve-3d;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  pointer-events: none;
}
.slide.active {
  pointer-events: auto;
}
