.contents {
  background: white;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  color: black;
}
.mainContent {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 16px;
  scrollbar-width: none;
  white-space: nowrap;
  align-items: center;
  background: #dcdcdc;
  margin: 10px;
  border-radius: 5px;
}
.content {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.cardItem {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 372px;
  overflow: hidden;
  text-align: center;
  width: 178px;
}
.cardItemImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardItemImg img {
  height: 284px;
  object-fit: cover;
  width: 99%;
  border-radius: 8px;
}
.cardInfo {
  background: #fff;
  border-radius: 8px;
  flex-direction: column;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whiteBox {
  background-color: white;
  height: 370px;
  width: 200px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whiteBoxImg {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 169px;
  text-align: center;
}
.searchContainer {
  align-items: center;
  display: flex;
  margin: -5px;
  width: 60%;
}
.searchInput {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 10px !important;
  font-size: 14px;
  margin-bottom: 10px;
}
.arrow {
  height: 64px !important;
}
@media (max-width: 999px) {
  .arrow {
    height: 25px !important;
  }
}
.title {
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.saveButton {
  background: green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}
.saveButton:hover {
  background: darkgreen;
}
.mainContent button {
  align-items: center;
  background: green;
  border-radius: 5px;
  color: #fff;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 100%;
}
